<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Login.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginSuccess</servlet-name>
        <servlet-class>Login.LoginSuccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DbConnect</servlet-name>
        <servlet-class>Login.DbConnect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginConnet</servlet-name>
        <servlet-class>Login.LoginConnet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginConnect</servlet-name>
        <servlet-class>Login.LoginConnect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPass</servlet-name>
        <servlet-class>Forgot.ForgotPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PayDone</servlet-name>
        <servlet-class>PayDone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayDoneSuccess</servlet-name>
        <servlet-class>PayDoneSuccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addnew</servlet-name>
        <servlet-class>addnew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNew</servlet-name>
        <servlet-class>AddNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Feedback</servlet-name>
        <servlet-class>Feedback</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginSuccess</servlet-name>
        <url-pattern>/LoginSuccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DbConnect</servlet-name>
        <url-pattern>/DbConnect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginConnet</servlet-name>
        <url-pattern>/LoginConnet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginConnect</servlet-name>
        <url-pattern>/LoginConnect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPass</servlet-name>
        <url-pattern>/ForgotPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayDone</servlet-name>
        <url-pattern>/PayDone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayDoneSuccess</servlet-name>
        <url-pattern>/PayDoneSuccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addnew</servlet-name>
        <url-pattern>/addnew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNew</servlet-name>
        <url-pattern>/AddNew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Feedback</servlet-name>
        <url-pattern>/Feedback</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
